@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


#sticky {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: orange;
    z-index: 10;
    display: flex;
    justify-content: center;
    height: 74px;
}

.container {
    width: 1320px;
    height: auto;
    margin: 0 auto;
    background: wheat;
    display: flex;
}

nav {
    width: 100%;
    height: 75px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#logo {
    width: 75px;
    height: 45px;
    border: solid black;
    border-width: 1px 1px 2px 2px;
    font-family: 'Playfair Display', sans-serif;
    font-size:40px;
    font-weight: 700;
    display: flex; align-items: center; justify-content: center;
}


#navbar {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    align-content: center;
}

#navbar li {
    padding: 25px;
    letter-spacing: 6px;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}

header {
    width: 100%;
    height: auto;
    background: orange;
    padding: 0 12px;
    text-align: center;
    position: relative;
}

#top {
    padding-top: 100px;
}

#top h2 {
    font-size: 6vh;
    font-weight: 400;
    font-family: 'EB Garamond', sans-serif;
}

#top h1 {
    font-size: 22vh;
    font-weight: 700;
    line-height: 1.5;
    font-family: 'Playfair Display', sans-serif;
}

.img {
    width: 100%;
    height: 700px;
    background-size: cover;
    display: block;
    background-image: url(../img/main.jpg);
    background-repeat: no-repeat;
    background-position: center;
}


#section_txt {
    width: 100%;
    height: auto;
    margin: 0 auto;
    display: flex;
    align-items: center;
}

#section_txt .container {
    flex-wrap: nowrap;
    padding: 40px;
    margin-top: 130px;
    margin-bottom: 130px;
}

#icon {
    width: 80px;
    height: 80px;
    background: orange;
    border-radius: 50%;
    background-image: url(../img/arrow_icon.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 25px 25px ;
}

#section_txt h2 {
    width: calc(100% - 80px);
    height: auto;
    font-size: 3vh;
    padding-left: 40px;
    font-weight: 400;
    font-family: 'EB Garamond', sans-serif;
}

/* 임시 */
.section {
    width: 100%;
    height: auto;
    margin: 0 auto;
    display: flex;
}

#section_cha {
    width: 100%;
    height: auto;
    margin: 0 auto;
    display: flex;
}

#pic_cha {
    width: 50%;
    height: 700px;
    position: relative;
}

#pic_cover {
    height: 200px;
    background: orange;
    z-index: 1;
    position: absolute; 
    bottom: 0; 
    left: -20px;
    right: -20px;
    display: flex;
    justify-content: center;
}

#pic_photo{
    width:95%;
    height: 700px;
    background-image: url(../img/cha.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 95% 700px;
    position: relative;
    top:-500px
}


#txt_cha {
    width: 50%;
    padding-left: 60px;
    padding-right: 40px;
    padding-top: 10px;
}

#txt_cha h2{
    font-family: 'EB Garamond', sans-serif;
    font-size: 7vh;
    text-decoration: underline orange;
}

#txt_cha p{
    font-family: 'Poppins', sans-serif;
    font-size: 2vh;
    padding-top: 20px;
}

#btn{
    width:175px;
    height: 60px;
    background: orange;
    padding: 20px;
    text-align: center;
    border-radius: 5px;
    margin-top: 30px;
}



#section_txt2 .container {
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 130px;
    padding-bottom: 130px;
}

#section_txt2 h2{
    font-family: 'EB Garamond', sans-serif;
    font-size: 7vh;
}

#section_txt2 p{
    font-family: 'Poppins', sans-serif;
    font-size: 3vh;
    padding-top: 20px;
}


#section_pic {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.gal_pic:hover .hover{

    opacity: 0.8;
}



.gall {
    width: 25%;
    padding: 12px;
    height: 450px;
    position: relative;
}

.hover {
    opacity:0; 
    z-index: 5;
    position: absolute; 
    left: 12px; 
    top:12px; 
    background:orange;
    transition: all 0.35s ease-in-out; 
    text-align: left;
    width:calc(100% - 24px);
    height: calc(100% - 24px);

}

.hover h3{
    font-family: 'EB Garamond', sans-serif;
    font-size: 3vh;
    padding:50px 50px 0 50px;
    
}
.hover p{
    font-family: 'Poppins', sans-serif;
    font-size: 2vh;
    padding:50px 50px 0 50px;
    line-height: 2em;
    font-weight: 600;
    
}

.gal_pic {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100%;
}

#section_sta .container {
    flex-wrap: wrap;
    padding-top: 100px;
    padding-bottom: 100px;
    background: black;
}

#sta_txt {
    width: 100%;
    text-align: center;
}
#sta_txt p{
    color: orange;   
    font-size: 2vh; 
    font-family: 'Poppins', sans-serif;

}

#sta_txt h2{
    color: white;   
    font-size: 6vh; 
    font-family: 'EB Garamond', sans-serif;
    letter-spacing: 3px;
    padding-bottom: 50px;
}
.count {
    width: 25%;
    display: flex;
}

.icon {
    width: 80px;
    height: 80px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50px 50px;
    position: relative;
    top:15px;
    left: 15px;
}

.count_txt {
    width: calc(100% - 80px);
    height: auto;
    display: flex;
    flex-wrap: wrap;
    margin-left: 30px;
    font-family: 'Poppins', sans-serif;

}

.count_num {
    width: 100%;
    font-size: 6vh;
    color: white;
    font-weight: 700;
    
    letter-spacing: 2px;
}

.count_sub {
    width: 100%;
    color:orange;
    font-size: 2vh;
    letter-spacing: 3px;
}



#section_rev .container {
    flex-wrap: wrap;
    padding-top: 130px;
}

#rev_txt {
    text-align: center;
    width: 100%;
}

#rev_txt p{
    color: orange;   
    font-size: 2.5vh; 
    font-family: 'Poppins', sans-serif;

}

#rev_txt h2{
    font-size: 9vh; 
    font-weight: 700;
    font-family: 'EB Garamond', sans-serif;
    letter-spacing: 3px;
    padding-bottom: 130px;

}



#rev_slide {
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    height: 320px;
    overflow: hidden;
}

.rev_box {
    width: calc(100% / 3);
    padding: 30px 30px 0 30px;
    height: 315px;
    display: flex;
    flex-wrap: wrap;
}

.rev_box p{
    font-family: 'Poppins', sans-serif;
}
.rev_top {
    display: flex;
    width: 100%;
    height: 80px;
}

.rev_icon{
    width: 80px;
    height: 80px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 50%;
    position: relative;
}
.quote{
    width: 30px;
    height: 30px;
    position: absolute;
    bottom: 0;
    right: 0;
    border-radius: 50%;
    background: orange;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.rev_cha {
    width: calc(100% - 80px);
    height: auto;
    display: flex;
    flex-wrap: wrap;
}



.rev_name {
    width: 100%;
    height: 65%;
    font-size: 3vh;
    padding-left: 30px;
    padding-top: 10px;
}

.rev_job {
    width: 100%;
    height: 35%;
    padding-left: 30px;
    padding-bottom: 10px;
    color: orange;
}

.rev_bot {
    width: 100%;
    height: 235px;
    color: #4d4d4d;
    font-size: 2vh;
    padding-top: 40px;
}

.rev_bot span{
    font-size: 1.5vh;
}




#section_txt3 .container {
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 130px;
    padding-bottom: 130px;
}

#section_txt3 h2 {
    font-size: 9vh; 
    font-weight: 700;
    font-family: 'EB Garamond', sans-serif;
    letter-spacing: 3px;
}

#section_txt3 p{
    color: orange;   
    font-size: 2.5vh; 
    font-family: 'Poppins', sans-serif;

}

#section_exh {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

}

.exh_box {
    width: 25%;
    padding: 12px;
    background: hotpink;
    height: 680px;
}

.exh_photo {
    background: green;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 50%;
}

.exh_txt {
    width: 100%;
    height: 50%;
    background: gray;
    padding: 20px;
}

.exh_txt i{
    color:orange;
    margin-right: 10px;
}

#section_exh h2 {
    font-size: 4vh; 
    font-weight: 700;
    font-family: 'EB Garamond', sans-serif;
    letter-spacing: 3px;
    margin: 10px 0 20px 0;
}

#section_exh p{
    font-size: 2vh; 
    font-family: 'Poppins', sans-serif;

}

.exh_txt p:first-child{
    color: black;
    
}

.exh_txt p:last-child{
    color: #4d4d4d;
}


#section_con {
    display: flex;
}

#map {
    width: 50%;
    background: brown;
    height: 500px;
}

#con_box {
    width: 50%;
    background: navajowhite;
    height: 500px;
}



footer {
    height: 700px;
    background: black;
    padding-top: 100px;
}

footer .container {
    justify-content: space-between;
}

#foot_left {
    width: 25%;
    height: 500px;
    background: floralwhite;
}

#foot_left #logo {
    margin-bottom: 40px;
}

#foot_icon {
    width: 100%;
    height: auto;
    display: flex;
    margin-top: 30px;
}

.foot_icon_box {
    width: 40px;
    height: 40px;
    background: orange;
    margin-right: 10px;
    border-radius: 50%;
    
    background-repeat: no-repeat;
    background-position: center;
    background-size:14px 14px;
}


#foot_center {
    width: 20%;
    height: 500px;
    background: aqua;

}

#foot_list2{
    padding-left: 20px;

}




#foot_right {
    width: 25%;
    height: 500px;
    background: rebeccapurple;
}

#foot_list3 li{
    display: flex;
    margin-top: 10px;

}
.foot_icon2{
    width:40px;
}

.foot_icon2 img{
    width:20px;
    height: 20px;
    
}

.foot_right_txt{
    width:calc(100% - 40px)
}